
body {
    color: white;
    text-align: center;
    text-weight: bold;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    background: rgb(65, 113, 225);
    border-bottom: solid 2px rgba(16, 2, 2, 0);
    text-weight: bold;
    padding: 20px;
    font-size: 32px;
    color: rgb(13, 7, 7);
    border: solid 2px rgb(192, 202, 215);
    border-bottom: solid 2px rgb(192, 202, 215);
}

.chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}

div {
    margin-right: 20px;
}